<app-nav-bar></app-nav-bar>
<div style="text-align: center;">
    <div class="contenitore" *ngFor="let stringa of mesi">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <div class="Header">
                        <h1>{{stringa}}</h1>
                    </div>
                    <div style="width: 100%;border: 1px solid;border-color: rgb(53, 51, 51);">
                    </div>
                    <div class="Immagine">
                        <h5>Periodo 1:</h5>
                        <img src="assets/clock_gray.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/red-circle.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/red-circle.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/red-circle.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/red-circle.png">

                    </div>
                    <div style="width: 100%;border: 1px solid;border-color: rgb(53, 51, 51);">
                    </div>
                    <div class="Footer">
                        <img src="assets/protom.png">
                    </div>
                </div>
                <div class="flip-box-back ">
                    <div class="Header">
                        <h1>{{stringa}}</h1>
                    </div>
                    <div style="width: 100%;border: 1px solid;border-color: rgb(53, 51, 51);">
                    </div>
                    <div class="Immagine">
                        <h5>Periodo 1:</h5>
                        <img src="assets/clock_gray.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/green-circle.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/green-circle.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/green-circle.png">
                        <hr>
                        <h5>Periodo 2:</h5>
                        <img src="assets/green-circle.png">

                    </div>
                    <div style="width: 100%;border: 1px solid;border-color: rgb(53, 51, 51);">
                    </div>
                    <div class="Footer">
                        <img src="assets/protom.png">
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>