.borderNav{
    border-bottom: 2px solid;
    border-color:#ffc107 ;
    box-shadow: 0px 0px 5px 2px #ffc107;
}

b{
    color: #ffc107;
}
a:hover b{
    color: grey;
}

.drop{
    background-color:rgba(0, 0, 0, 0.795);
    border: 2px solid;
    border-color:#ffc107 ;
    box-shadow: 0px 0px 5px 2px #ffc107;
}
p{
    color: #ffc107;
}

#small{
    display: none;
}

.dropdown-item:hover{
    transition: 1s;
    background-color: black;
}

@media (max-width: 1090px) { 
    
    .drop{
        background-color:rgba(0, 0, 0, 0);
        border: 2px solid;
        border-color:#ffc107 ;
        box-shadow: 0px 0px 5px 2px #ffc107;
    }
    #smallButton{
        display: none;
    }

    #small{
        display: block;
    }
    a:hover{
        text-decoration: none;
    }
 }