<nav class="navbar navbar-expand-lg navbar-light borderNav" style="background-color:rgba(0, 0, 0, 0.61);">
    <a class="navbar-brand">
        <img src="assets/protom.png" style="height: 50px; width: 100px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="././assets/alfredo.png" style="height: 30px;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Home"><b>Home</b></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>MyTime</b>
                </a>
                <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Timesheet">
                        <p>Timesheet</p>
                    </a>
                    <a class="dropdown-item" href="#">
                        <p>Cost center</p>
                    </a>
                    <a class="dropdown-item" href="#">
                        <p>Time off</p>
                    </a>
                    <a class="dropdown-item" href="#">
                        <p>Out office</p>
                    </a>
                    <a class="dropdown-item" href="#">
                        <p>Trasferta</p>
                    </a>
                    <a class="dropdown-item" href="#">
                        <p>Valutazione risorsa</p>
                    </a>
                </div>
            </li>
        </ul>

        <a href="" class="btn btn-outline-warning px-4 py-3" id="smallButton"><b>Logout</b></a>
        <a href="" id="small"><b>Logout</b></a>
    </div>
</nav>