<app-nav-bar></app-nav-bar>
<div class="altezza" style="height: 100%;">
    <div class="orizzontale">

        <div class="row">
            <div class="col ">
                <div class="p-3">
                    <div class="card rounded cardHome">
                        <div class="card-body">
                            <h1 class="card-title text-center">Help desk Amministrativo</h1>
                            <p class="card-text text-left">Per problematiche, nella fase di
                                consuntivazione delle
                                attività,
                                inerenti
                                centri di
                                costo e commesse, contattaci al seguente indirizzo di posta elettronica:</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3">
                    <div class="card rounded cardHome">
                        <div class="card-body">
                            <h1 class="card-title text-center">Help desk tecnico</h1>
                            <p class="card-text text-left">Per problematiche, nella fase di
                                consuntivazione delle
                                attività,
                                inerenti
                                centri di
                                costo e commesse, contattaci al seguente indirizzo di posta elettronica:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>