<section class="hero-wrap js-fullheight imgIndex">
    <nav class="navbar navbar-light borderNav" style="background-color:rgba(0,0,0,0.5);" id="ftco-navbar">
        <a class="navbar-brand" [routerLink]=" ">
            <h1 style="color: #ffc107;">MyProtom</h1>
        </a>
        <a (click)="openDialog()" class="btn btn-outline-warning px-4 py-3"><b>Login</b></a>

    </nav>
    <div class="overlay"></div>
</section>
<div class="wrapper">
    <app-card-body></app-card-body>
    <div class="push"></div>
</div>
<app-footer></app-footer>