/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; margin:0; }
body {font-family: serif,sans-serif,Verdana, Geneva, Tahoma; background-color: grey;}

.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color:#ffc107 ;
    box-shadow: 0px 0px 5px 2px #ffc107;
  }
  
  h1{
    font-family:  serif,sans-serif,Verdana, Geneva, Tahoma;
  }

  .imgIndex{
    background-image: url(././assets/protom.jpg);
    height: 700px;
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:inset 0 -1px 5px rgba(0, 0, 0, 0.753);
  }

  .wrapper {
    min-height: 70%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
.footer, .push {
    height: 50px;
    clear: both;
}

.footer{
  margin-top: 5%;
}   

  

@media (max-width: 767.98px) { 
  .imgIndex{
    background-image: url(././assets/protomPhone.jpg);
    height: 333px;
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:inset 0 -1px 5px rgba(0, 0, 0, 0.753);    box-shadow:inset 0 -1px 5px rgba(0, 0, 0, 0.753);
  }

 }